[deps]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
ITensorFormatter = "b6bf39f1-c9d3-4bad-aad8-593d802f65fd"
{PKGNAME} = "{UUID}"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[sources]
ITensorFormatter = {url = "https://github.com/ITensor/ITensorFormatter.jl"}
{PKGNAME} = {path = ".."}

[compat]
Aqua = "0.8.9"
ITensorFormatter = "0.2"
{PKGNAME} = "0.1"
Test = "1.10"
